.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.hr-lines{
  /* position: relative; */
  /* max-width: 500px; */
  /* margin: 100px auto; */
  /* text-align: center;  */
  /* display: flex;
  justify-content: center; */
  /* text-align: center; */
}

/* .hr-lines::before{
  content:" ";
  height: 2px;
  width: 630px;
  background: #153481;
  display: block;
  position: relative;
  margin-top: 20px;
}

.hr-lines::after{
  content:" ";
  height: 2px;
  width: 630px;
  background: #153481;
  display: block;
  position: relative;
  padding-top: 20px;
} */

.rendered {
  position: fixed;
  top: 113px;
  left: 750px;
  margin-bottom: 150px !important;
  overflow: auto;
  max-height: calc(100vh - 113px);
}

.icon-container {
  position: relative;
  display: inline-block;
}

.icon-container .plus-circle-icon {
  opacity: 0; /* Hide the icon by default */
  transition: opacity 0.3s ease; /* Smooth transition for opacity change */
}

.icon-container:hover .plus-circle-icon {
  opacity: 1; /* Show the icon on hover */
}

